<!--nadal html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>About Us Developers</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <script src="https://kit.fontawesome.com/90ee6ee289.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <h1>Your inventory management app</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('aboutus') }}"><b>About</b></a></li>
                <li><a href="{{ url_for('theProject') }}">The Project</a></li>
                <li><a href="{{ url_for('finder') }}">Finder</a></li>
            </ul>
        </nav>
    </header>

    <section class="nadalsection">
        <h2>About Nadal:</h2>
        <section>
            <h3></h3>
            <p>Currently studying in second year of Data Science at Politechnic University of Valencia.</p>
            <p>Nadal has been part of several projects 
                such as <a href="https://github.com/Rafael-Bardisa/El-Beteador">"El Beteador"</a>, 
                a project designed to calculate how much money someone should bet on each page and 
                sportsperson in order to secure a benefit out of it.</p>
            <p>Nadal has also worked on <a href="https://github.com/NadalBQ/Life_Expectancy_Project">"The Life Expectancy Project"</a>, 
                a project made for a subject in the first year in the degree.</p>
            <p>Nadal is currently working on <a href="https://github.com/NadalBQ/inventory_management_app">"Inventory Management App"</a>, 
                a work in progress that attempts to be an alternative to traditional inventory management care-taking ways.</p>
            <p>Recently joined <a href="https://autotok.net/">"AutoTok"</a> as the Business Analyst, developing reports on every 
                step taken in the project, making every part of the project understandable to every developer in the project and 
                making sure that everyone has a great understanding of where we are going and what page are we all in.</p>
            <p>Recently joined <a href="">"Healthy Paws"</a> as a front-end developer, making use of the 
                <a href="https://ionicframework.com/">ionic framework</a> to develop the app both for Android and iOS users without 
                much of a headache in migrating code to native languages understandable by each system.</p>
        </section>
    </section>

    <footer>
        <p>&copy; 2024 Your inventory management app, all rights reserved.</p>
    </footer>
</body>
</html>
