<!--finder html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>How to find</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <script src="../static/script.js" defer></script>
</head>

<body>
    <header>
        <h1>Your inventory management app</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('aboutus') }}">About</a></li>
                <li><a href="{{ url_for('theProject') }}">The Project</a></li>
                <li><a href="{{ url_for('finder') }}"><b>Finder</b></a></li>
            </ul>
        </nav>
    </header>

    <section class="finderSection">
        <section class="finderHeaders">
            <h2>Easily find any element stored in the database!</h2>
            <p><b>You can consult the availability of any item and whichever attribute you might not know about it.</b></p>
            <p><b>Filter by each attribute to help your search and narrow the amount of elements displayed.</b></p>
            <p><b>This information is public in the <a href="https://github.com/NadalBQ/inventory_management_app">github repository</a> from which this page is being deployed.</b></p>
            <a href="{{ url_for('tutorial') }}" class="button">Finder guide.</a>
        </section>
    </section>

    <footer>
        <p>&copy; 2024 Your inventory management app, all rights reserved.</p>
    </footer>
</body>
</html>
