<!--index copy html-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
        <title>Your inventory management app</title>
        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
        <!--"../images/favicon.ico"-->
        <link rel="stylesheet" href="../static/style.css">
        <script src="../static/script.js" defer></script>
    </head>
    <body>
        <header>
            <h1>Your inventory management app</h1>
            <nav>
                <ul>
                    <li><a href={{ url_for('home') }}><b>Home</b></a></li>
                    <li><a href={{ url_for('aboutus') }}>About</a></li>
                    <li><a href={{ url_for('theProject') }}>The Project</a></li>
                </ul>
            </nav>
        </header>

        <section class="homeSection">
            <section class="inputHeaders">
                <h2>Manage all your items with one app!</h2>
                <p><b>Take your GitHub token and start managing.</b></p>
                <p><b>You can copy whichever part of this project and implement it on your own room.</b></p>
                <p><b>However, you ought not to sell any of these files </b></p>
                <a href={{ url_for('explain') }} class="button">More info.</a>
            </section>
        
            <section class="inputLabels">
                <h2>This page is currently managing a room of mine.</h2>

                <h3>Add a new element to the database:</h3>

                <form action="/execute-script" method="post">
                    <label for "valor">GitHub token:</label>
                    <input type="text" name="token" id="token"><br>
                    <label for "valor">Element ID:</label>
                    <input type="text" name="ID" id="ID"><br>
                    <label for "valor">Amount stored:</label>
                    <input type="text" name="amount" id="amount"><br>
                    <label for "valor">Location:</label>
                    <input type="text" name="location" id="location"><br>
                    <label for "valor">Inside of:</label>
                    <input type="text" name="parent" id="parent"><br>
                    <label for "valor">Box or Item:</label>
                    <input type="text" name="whichType" id="whichType"><br>
                    <button class="button" type="button" id="executeButton">Upload element to database</button>
                </form>

                <h3>Delete an element from the database:</h3>

                <form action="/execute-script" method="post">
                    <label for "valor">GitHub token:</label>
                    <input type="text" name="token" id="token"><br>
                    <label for "valor">Element ID:</label>
                    <input type="text" name="ID" id="ID"><br>
                    <label for "valor">Amount to delete:</label>
                    <input type="text" name="amount" id="amount"><br>
                    <label for "valor">Location:</label>
                    <input type="text" name="location" id="location"><br>
                    
                    <button class="button" type="button" id="deleteButton">Delete element from database</button>
                </form>
                

                <div id="resultDivAdd" class="resultDivAdd"></div>
            </section>
        </section>

        <footer>
            <p>&copy; 2024 Your inventory management app, all rights reserved.</p>
        </footer>
    </body>
</html>
